<section class="body-font transparent h-full m-2">
  <div
    class="flex flex-wrap -m-4 text-center justify-center sm:px-4 md:px-8 lg:px-4"
    id="currencies"
    phx-update="stream"
  >
    <div
      :for={{dom_id, currency} <- @streams.currencies}
      id={dom_id}
      class="
        p-4
        duration-500 cursor-default group
      "
      phx-hook="AnimateCard"
      data-animations={animation_dataset(currency.id)}
    >
      <div
        class={"
          flex items-center justify-between
          rounded-xl
          transition duration-300 shadow-inner-xs
          active:shadow-inner
          focus:shadow-sm          
          shadow-zinc-400 dark:shadow-zinc-900
          border-zinc-200 dark:border-zinc-700 border-[1px]
          w-[420px]
          cursor-pointer
          bg-gradient-to-br
          from-#{get_color_by_price_direction(currency)}-300/90 to-#{get_color_by_price_direction(currency)}-900/20
        "}
        id={card_container_id(currency.id)}
        phx-click={JS.navigate(~p"/currencies/#{currency.id}")}
        style="overflow:hidden;"
      >
        <div class="
          text-left card-bg p-4 rounded-lg rounded-br-xl rounded-tr-xl border-zinc-300 dark:border-zinc-700 border-r-[1px] flex-[1_1_0%] min-w-[180px] max-w-[420px]
          shadow-zinc-300 dark:shadow-zinc-900 shadow-[3px_0_5px_-2px]
          transition duration-700
        ">
          <h2 class="text-zinc-700 dark:text-zinc-100 text-lg font-medium group-hover:underline group-hover:text-primary flex items-center justify-between">
            <%= currency.name %>
            <span class="hidden group-hover:inline-block">
              <div
                phx-click="toggle_calculator"
                phx-value-currency_id={currency.id}
              >
                <.icon
                  name="hero-calculator"
                  class="w-5 h-5 ml-2 text-zinc-700 dark:text-zinc-100 hover:!text-primary"
                />
              </div>
            </span>
          </h2>
          <div
            class={"
              p-4 my-2 shadow-inner-md shadow-zinc-400/50 dark:shadow-zinc-800/90 rounded-md
              bg-gradient-to-br
              from-#{get_color_by_currency_type(currency)}-300/90 to-#{get_color_by_currency_type(currency)}-900/20
              dark:!from-#{get_color_by_currency_type(currency)}-900/20 dark:!to-#{get_color_by_currency_type(currency)}-300/20
              #{details_animation_class()}
            "}
            id={details_id(currency.id)}
          >
            <%= if currency.info_type == :reference do %>
              <h3 class="mt-2 text-lg font-bold text-default dark:text-zinc-200 text-left cursor-text">
                <%= render_price(currency.variation_price) %>
              </h3>
            <% end %>
            <%= if currency.info_type == :market do %>
              <h3 class="mt-2 text-lg font-bold text-default dark:text-zinc-200 text-left cursor-text whitespace-nowrap">
                <%= render_price(currency.buy_price) %> - <%= render_price(
                  currency.sell_price
                ) %>
              </h3>
              <p class="text-sm font-semibold text-default dark:text-zinc-200 text-left">
                <%= gettext("Spread") %>:
                <span class="text-default dark:text-zinc-200">
                  <%= render_spread(currency) %>
                </span>
              </p>
            <% end %>
            <p class="text-sm font-semibold text-default dark:text-zinc-200 text-left">
              <%= render_update_time(currency) %>
            </p>
            <button class={"
              cursor-default
              text-zinc-600 dark:text-zinc-800 text-xs mt-6 px-2 py-1
              bg-#{get_color_by_currency_type(currency)}-400
              dark:bg-#{get_color_by_currency_type(currency)}-600
              rounded-lg tracking-wider
              outline-none
            "}>
              <%= render_info_type(currency) %>
            </button>
          </div>
        </div>
        <div class={variation_animation_class()} id={variation_id(currency.id)}>
          <div class="w-[6.5rem] h-[6.5rem] flex justify-center items-center overflow-hidden">
            <div class="relative">
              <div class={"
                bg-gradient-to-tr
                from-#{get_color_by_price_direction(currency)}-300/75 to-#{get_color_by_price_direction(currency)}-600/75
                dark:from-#{get_color_by_price_direction(currency)}-400/75 dark:to-#{get_color_by_price_direction(currency)}-300/75
                w-[6.5rem] h-[6.5rem]
                rounded-full
                shadow-none group-hover:shadow-inner-xs
                group-hover:shadow-#{get_color_by_price_direction(currency)}-500
                border-#{get_color_by_price_direction(currency)}-400 border-dotted border-2
                justify-center items-center
                group-hover:-rotate-180 duration-1000 group-hover:border-dotted group-hover:border-[1px]
              "} />
            </div>
            <div class="absolute w-[inherit] overflow-hidden">
              <h1 class="text-white dark:text-white text-xl group-hover:text-2xl duration-200 px-1">
                <%= render_variation_percent(currency) %>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= if @show_calculator do %>
  <div
    id="calculator-banner"
    class="
      fixed bottom-0 w-full md:left-1/2 transform md:-translate-x-1/2 md:w-1/2
      bg-white dark:bg-zinc-800 shadow-lg
      p-4 rounded-t-lg z-50
    "
  >
    <div class="flex justify-between items-center">
      <h3 class="text-center text-lg font-semibold text-zinc-700 dark:text-zinc-100">
        <%= render_currency_name(@selected_currency) %>
      </h3>
      <button
        phx-click="toggle_calculator"
        phx-value-currency_id={@selected_currency.id}
        class="text-zinc-700 dark:text-zinc-100 hover:text-red-500 dark:hover:text-red-500"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <div class="mt-4 flex flex-row">
      <.simple_form
        for={@conversion_form}
        id="conversion_form"
        phx-change="validate_conversion"
        class="w-full"
        container_classes="flex-row gap-8"
      >
        <.input
          container_class="w-full"
          name="ars_amount"
          field={@conversion_form["ars_amount"]}
          type="number"
          label="ARS"
          value={@conversion_form["ars_amount"]}
          min={0}
          step={100}
          required
          class="shadow-inner-xs !text-sky-500 font-bold"
        />
        <.input
          container_class="w-full"
          field={@conversion_form["usd_amount"]}
          name="usd_amount"
          type="number"
          label="USD"
          value={@conversion_form["usd_amount"]}
          min={0}
          required
          class="shadow-inner-xs !text-green-500 font-bold"
        />
      </.simple_form>
    </div>
  </div>
<% end %>
